/* CSS for WistiaVideoXBlock */

.wistiavideo_block .wistia_responsive_download_buttons {
    margin: 1rem 1rem 0 0;
}

.wistiavideo_block .wistia_responsive_download_buttons .download_button {
    background: rgba(30, 123, 237, 0.9);
    border-radius: 0.1875rem;
    padding: 11px 18px 11px 16px;
}

.wistiavideo_block .wistia_responsive_download_buttons .download_button,
.wistiavideo_block .wistia_responsive_download_buttons .download_button:hover,
.wistiavideo_block .wistia_responsive_download_buttons .download_button:active,
.wistiavideo_block .wistia_responsive_download_buttons .download_button:visited {
    color: white;
}

.wistiavideo_block .wistia_responsive_download_buttons .download_button:hover,
.wistiavideo_block .wistia_responsive_download_buttons .download_button:active,
.wistiavideo_block .wistia_responsive_download_buttons .download_button:visited {
    background: rgba(30, 123, 237, 1);
}
